* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
#ima {
  max-height: 60px;
  height: auto;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
/*Main*/
#princi {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.slider-track img {
  width: 90px;
  transition: transform 0.3s;
}

.slider-track img:hover {
  transform: scale(1.1);
}
